.table-container {
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th{
  font-size: large;
  text-align: center;
}

.table td {
  padding: 8px; 
  text-align: center; 
 
}

.table th {
  // background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  // background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
